@import '/src/styles/utils/breakpoints';

.calendar {
    :global {
        .react-calendar {
            background-color: var(--color-white);
            border: none;
            border-radius: 1.5rem;
            box-shadow: var(--shadow1);
            width: 100%;

            @include media-breakpoint-up(sm) {
                box-shadow: var(--shadow1);
                padding: 1rem;
            }

            button {
                &,
                & * {
                    font-size: 1.6rem;
                }
            }

            &__navigation__arrow {
                display: grid;
                font-size: 3.2rem !important;
                place-items: center;
                position: relative;
                top: -0.3rem;
            }

            &__navigation__prev-button,
            &__navigation__next-button {
                font-size: 3.5rem;
            }

            &__navigation__label__labelText {
                font-size: 2rem;
            }

            &__tile--now {
                background: #ffffa9 !important;
            }

            &__tile--active {
                background: none !important;
                position: relative;
                z-index: 1;

                &:hover,
                &:active,
                &:focus {
                    background: none !important;
                }

                &:before {
                    background: var(--color-brand);
                    border-radius: 50%;
                    content: '';
                    height: 3.5rem;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-49%, -50%);
                    width: 3.5rem;
                    z-index: -1;
                }
            }

            &__tile--hasActive {
                background: var(--color-brand-light);
            }

            &__tile:disabled,
            &__navigation button:disabled {
                opacity: 0.5 !important;
                cursor: not-allowed !important;
            }

            // Style the month name of the calendar
            &__month-view__weekdays__weekday {
                * {
                    font-size: 1.4rem !important;
                    text-decoration: none !important;
                    font-family: var(--mulish-bold);
                }
            }
        }
    }
}
