@import '/src/styles/utils/breakpoints';

.styles {
    :global {
        .submenu {
            //display: none;
            ul {
                @include media-breakpoint-up('xl') {
                    padding-left: 0;
                }
            }
        }
    }
}

.activeSubmenu {
    pointer-events: auto !important;

    * {
        pointer-events: auto !important;
    }
}

.disabledSubmenu {
    pointer-events: none !important;

    * {
        pointer-events: none !important;
    }
}
