.styles {
    :global {
        a {
            &,
            * {
                font-family: var(--mulish-bold);
                color: var(--color-blue);
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        strong {
            &,
            * {
                font-family: var(--mulish-bold);
            }
        }

        ul {
            list-style: auto;
        }
    }
}
