.styles {
  :global {
    a {
      &,
      * {
        color: var(--color-blue);
        font-family: var(--mulish-bold);
        transition: all 0.5s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    strong {
      &,
      * {
        font-family: var(--mulish-bold);
      }
    }

    ul {
      list-style: disc;
      margin-left: 4rem;
    }
  }
}
