@import '/src/styles/utils/breakpoints';

.styles {
    :global {
        .MuiPaper-root {
            display: grid;
            place-items: center;
            @include media-breakpoint-up(md) {
                max-width: 50rem;
                min-height: 50rem;
            }
        }
    }
}
