.styles {
    :global {
        .original-element {
            position: relative;
            clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
            -webkit-clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
        }

        .clone-element {
            perspective-origin: center;
            width: 100%;
            transform-style: preserve-3d;
            transform: rotateY(90deg);
            backface-visibility: hidden;
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
            -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
        }
    }
}
