.styles {
    height: 7.2rem !important;
    width: 7.2rem !important;

    :global {
        .MuiCircularProgress-root {
            height: 100% !important;
            width: 100% !important;
        }

        svg circle {
            stroke: #0099ff;
        }
    }
}
