// Lato font
@font-face {
    font-family: 'Lato-Light';
    font-weight: lighter;
    src: url('/fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-Medium';
    font-weight: 500;
    src: url('/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    font-weight: bolder;
    src: url('/fonts/Lato/Lato-Bold.ttf');
}
