:root {
    // Utility variables
    --container-width: 124rem; // 1240px

    // Color variables
    --color-secondary: #3a3a3a;
    --color-primary: #ffe202;

    // Typography variables
    --font-lato-light: 'Lato-Light', arial, helvetica, sans-serif;
    --font-lato-medium: 'Lato-Medium', arial, helvetica, sans-serif;
    --font-lato-bold: 'Lato-Bold', arial, helvetica, sans-serif;

    // CSS property variables
    --transition: 500ms cubic-bezier(0.17, 0.67, 0.78, 0.46);
    --border-radius: 2.5rem;
}
