@import '/src/styles/utils/breakpoints';

.list {
    li:not(:last-child) {
        @include media-breakpoint-up(md) {
            a:after {
                content: '';
                position: absolute;
                top: 60%;
                right: 0;
                height: 70%;
                width: 0.1rem;
                background-color: #fff;
                transform: translate(1.5rem, -50%);
            }
        }
    }
}
