.styles {
    :global {
        .callback-form {
            .next-button {
                background: var(--color-brand);
                border: var(--color-brand);
                border: 2px solid var(--color-brand) !important;
                color: white;

                &:hover {
                    background: transparent;
                    color: var(--color-brand) !important;

                    svg {
                        fill: var(--color-brand) !important;
                    }
                }

                svg {
                    fill: white;
                }
            }
        }
    }
}
