.styles {
  :global {
	.checkbox {
	  width: 2.8rem;
	  height: 2.8rem;
	  border: 0.3rem solid #c5ced2;
	  border-radius: 100%;
	}
	
	
	input:checked + .checkbox {
	  background: #0099ff;
	  border: 0.3rem solid #ffffff;
	}
  }
}
