.styles {
    ul {
        margin-left: 3rem;
        display: grid;
        gap: 1.6rem;
        list-style-image: url('/images/icons/icon-dotted-arrow.svg');
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        li {
            padding-left: 0.5rem;
        }
    }
}
