.styles {
  &,
  * {
	cursor: pointer;
  }
  
  label {
	display: flex;
	transition: all 0.1s linear;
  }
  
  input {
	display: none;
  }
  
  :global {
	.checkbox {
	  display: grid;
	  width: 2.8rem;
	  height: 2.8rem;
	  transition: all 300ms ease-out;
	  background: transparent;
	  place-items: center;
	  
	  svg {
		transition: all 300ms ease-out;
		transform: scale(0);
		opacity: 0;
	  }
	  
	  &--rounded {
		border: 0.3rem solid var(--color-brand);
		border-radius: 100%;
	  }
	  
	  &--flat {
		border: 0.1rem solid var(--color-brand);
		border-radius: 0.5rem;
	  }
	  
	  &--blue {
		border: 0.3rem solid #c5ced2;
	  }
	}
	
	input:checked + .checkbox {
	  background: var(--color-brand);
	  
	  svg {
		transform: scale(1);
		opacity: 1;
	  }
	}
	
	input:checked + .checkbox--blue {
	  background: #0099ff;
	  
	  svg {
		transform: scale(1);
		opacity: 1;
	  }
	}
  }
}
