.styles {
    &:local {
        animation: revealAnimation 1s ease-in-out forwards;
    }

    @keyframes revealAnimation {
        from {
            transform: translateY(3rem);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
